@import "./_variables";

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Regular.ttf')
}

body {
  margin: 0;
  font-family: 'Roboto';
}

iframe {
  display: block;
  margin: 0 auto;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $red;
  }
}
